@import url('https://fonts.googleapis.com/css?family=Poppins:400');

:root {
    /* neutral */
    --neutral-000: #000000;
    --neutral-005: #0d0d0d;
    --neutral-010: #1a1a1a;
    --neutral-015: #262626;
    --neutral-020: #333333;
    --neutral-025: #404040;
    --neutral-030: #4d4d4d;
    --neutral-035: #595959;
    --neutral-040: #666666;
    --neutral-045: #737373;
    --neutral-050: #808080;
    --neutral-055: #8c8c8c;
    --neutral-060: #999999;
    --neutral-065: #a6a6a6;
    --neutral-070: #b3b3b3;
    --neutral-075: #bfbfbf;
    --neutral-080: #cccccc;
    --neutral-085: #d9d9d9;
    --neutral-090: #e6e6e6;
    --neutral-095: #f2f2f2;
    --neutral-100: #ffffff;
    /* primary */
    --primary: #ffa333;
    --primary-000: #000000;
    --primary-005: #1a0e00;
    --primary-010: #331c00;
    --primary-015: #4d2a00;
    --primary-020: #663800;
    --primary-025: #804600;
    --primary-030: #995400;
    --primary-035: #b36200;
    --primary-040: #cc7000;
    --primary-045: #e67e00;
    --primary-050: #ff8c00;
    --primary-055: #ff981a;
    --primary-060: #ffa333;
    --primary-065: #ffac4d;
    --primary-070: #ffb866;
    --primary-075: #ffc380;
    --primary-080: #ffcf99;
    --primary-085: #ffdbb3;
    --primary-090: #ffe7cc;
    --primary-095: #fff3e5;
    --primary-100: #ffffff;
    --md-ref-palette-primary10: #2c1600;

    --blue: #0078d7;
    --red: #db1f1c;
    --green: #389f48;
    --yellow: #fda131;
    --purple: #784fce;

    --error: #db1f1c;
    --success: #389f48;

    --micro: 0.579rem;
    --tiny: 0.694rem;
    --small: 0.833rem;
    --medium: 1rem;
    --large: 1.2rem;
    --big: 1.44rem;
    --huge: 1.728rem;
    --massive: 2.074rem;
    --gigantic: 2.488rem;
}

.error {
    color: var(--error) !important;
}

.success {
    color: var(--success);
}

.mono {
    font-family: monospace;
    color: var(--neutral-040);
}

@keyframes cycleOpacity {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.pulse {
    animation: cycleOpacity 1s linear infinite;
}

:not(:root):fullscreen::backdrop {
    background-color: var(--neutral-010);
}

html {
    width: 100%;
    height: 100%;
    font-size: 100%; /*16px*/
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--neutral-010);
}

h1, h2, h3, p, a {
    color: var(--neutral-080);
    text-align: justify;
}

#app {
    width: 100%;
    height: 100%;
    position: fixed;
}

main {
    width: 100%;
    height: 100%;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
    color: var(--neutral-080);
    font-size: var(--gigantic);
    cursor: pointer;
    user-select: none;
}

::-webkit-scrollbar {
    width: 0;
}